<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Areyouamurderer.com</title>
    </head>
    <body>
        <div class='container'>
            <h1>Will he die?</h1>
            <form action='/feedback' method='post'>
                <div class='form-group'>
                    <label for='guess'>Enter your guess here </label>
                    <input type='string' name='guess' id='guess' class='form-control'>
                </div>
                <button name='submit' class='btn-success'>Submit</button>
            </form>
        </div>
    </body>
</html>
